<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Email: <br/>
        <input type="email" [formControl]="EmailCtrl">
    </p>
    <p *ngIf="EmailCtrl.errors && EmailCtrl.dirty">
        <small *ngIf="EmailCtrl.hasError('required')">El campo es que requerido</small>
        <small *ngIf="EmailCtrl.hasError('maxlength')">Este campo debe ser maximo de 10</small>
        <small *ngIf="EmailCtrl.hasError('minlength')">Este campo debe ser minimo de 10</small>
    </p>
    <button [disabled]="EmailCtrl.invalid" type="button" (click)="getEmail($event)">Save</button>
</body>
</html>